<div class="container" style="background-color: rgb(51, 207, 228);">

  <!-- Jumbotron for Title -->
  <div class="jumbotron" style="background-color: orange ; color: rgb(2, 2, 2);">
    <h1 class="text-center">
      <strong>
        <i class="Header"></i> SLACK DESK</strong>
      <img src="/images/slack.png" height="80">
    </h1>

  </div>

  <!-- Table for requests  -->
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Request Id</th>
        <th scope="col">Requester</th>
        <th scope="col">Initial Description</th>
        <th scope="col">Request Class</th>
        <th scope="col">Operator</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each requests}}
      <tr>
        <td>
          <button class="btn btn-default reqSelect" data-id={{this.id}}>Update</button>
          <button type="button" class="btn btn-primary diarySelect" data-toggle="modal" data-target="#diaryModal" data-id={{this.id}}> <!-- data-toggle="modal" data-target="#diaryModal" --> 
            Diary
          </button>
        </td>
        <td>{{this.id}}</td>
        <td>{{this.requester}}</td>
        <td>{{this.initialDescription}}</td>
        <td>{{this.requestClass}}</td>
        <td>{{this.operator}}</td>
        <td>{{this.time}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="diaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    {{!-- <div class="modal-dialog modal-dialog-centered modal-lg" role="document"> --}}
    <div class="modal-dialog .modal-dialog-scrollable modal-lg " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Diary</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body" id="modalBody">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium soluta aspernatur dolorum magnam excepturi pariatur, omnis nihil reprehenderit voluptatem? Minus libero dicta iure sint harum hic dolores ut repudiandae praesentium!
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Footer Region -->
<div id="footerdiv" class="row">
  <div class="col-sm-12">

    <!-- Line Break followed by closing -->
    <hr>
    <h5 class="text-center">
      <small>Slack Desk Team
      </small>
    </h5>

  </div>
</div>


<!-- jQuery JS -->

<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>