
<div class="container" style="background-color: rgb(51, 207, 228);">

    <!-- Jumbotron for Title -->
    <div class="jumbotron" style="background-color: orange ; color: rgb(2, 2, 2);">
        <h1 class="text-center">
            <strong>
                <i class="Header"></i> SLACK DESK</strong>
            <img src="/images/slack.png" height="80">
        </h1>

    </div>


    <div class="row">
        <div class="col-sm-12">
            <br>
            <!-- First card is for handling the search parameters -->
            <div class="card">
                <div class="card-header">
                    <strong>
                        <i class=""></i> Requests</strong>
                </div>
                <div class="card-body">

                    <!-- Here we create an HTML Form for handling the inputs-->
                    <form role="form">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="Id">Request Id:</label>
                                    <input type="text" class="form-control" id="requestId" name="Id" value={{id}}>
                                </div>
                                <div class="col-4">
                                    <label for="Id">Requester:</label>
                                    <input type="text" class="form-control" id="requester" value="{{requester}}">
                                </div>
                                <div class="col-4">
                                    <label for="time">Request Date</label>
                                    <input type="text" class="form-control" id="time" value={{time}}>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="initDesc">Initial Description</label>
                            <input type="text" class="form-control" id="initialDescription" name="initDesc"
                                value="{{initialDescription}}">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="class">Request Class</label>
                                    <input type="text" class="form-control" id="requestClass" name="class" value="{{requestClass}}">
                                </div>
                                <div class="col-4">
                                    <label for="operator">Operator</label>
                                    <input type="text" class="form-control" id="operator" name="operator" value="{{operator}}">
                                </div>
                                <div class="col-4">
                                    <label for="Id">Status</label>
                                    <input type="text" class="form-control" id="status" value="{{procStatus}}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label for="diaryUpdate">New Update</label>
                                    <textarea class="form-control" type="textarea" rows="6" name="diaryUpdate"
                                        id="diaryUpdate"></textarea>
                                </div>
                            </div>
                        </div>

                        <!-- Here we have our final submit button -->
                        <button type="submit" class="btn btn-default" id="submitUpdate">
                            <i class="fa fa-search"></i> Update</button>
                        <button class="btn btn-default" id="clear-all">
                            <i class="fa fa-trash"></i> Clear Results</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Footer Region -->
    <div class="row">
        <div class="col-sm-12">

            <!-- Line Break followed by closing -->
            <hr>
            <h5 class="text-center">
                <small>Slack Desk Team
                </small>
            </h5>

        </div>
    </div>
</div>

<!-- jQuery JS -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/reqDetail.js"></script>


